.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: black;
}

.flexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 5%;
}

.flexContainer > div {
    width: calc(50%);
    margin: 10px;
    margin-top: 5%;
}

.featuresDiv {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.19) 0px 1px 3px 0px;
    margin-right: 10%;
    margin-top: 10%;
    padding: 0;
    background-color: white;
    border-radius: 10px;
}

.featuresLink {
    text-decoration: none;
    color: black;
}

.featuresLink:hover {
    text-decoration: none;
    color: black;
}

.featuresPara {
    font-size: 15px;
    line-height: 20px;
}

.featuresChips {
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #f9efe5;
    background-color: #f9efe5;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    border-radius: 7px;
    color: rgb(142, 196, 173);
    padding: 4px 8px;
    margin: 3px 10px 0px 0px;
    color: #9f5114;
    font-weight: 800;
}

.featuresChipsDiv {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.authorDiv {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.authorText {
    color: #000000;
    font-size: 13px;
    margin-left: 8px;
    font-weight: 600;
}

.dateText {
    color: #8d8d8d;
    font-size: 11px;
    margin-left: 1rem;
}

.featureSvg {
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.cardTextMaxHeight {
    height: 180px;
    overflow: hidden;
}

.padding2rem {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .blogHeaderDiv {
        margin-top: 5%;
        text-align: center;
        padding: 0% 5%;
        color: #000000;
    }
}

@media only screen and (min-width: 601px) {
    .blogHeaderDiv {
        margin-top: 5%;
        text-align: center;
        padding: 0% 20%;
        color: #000000;
    }
}

.blogHeader {
    font-weight: 700;
    font-size: 32px;
}

.mainDiv {
    border-radius: 10px;
}

.cardHeader {
    font-size: 18px;
}

.authorImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.authorNameDiv {
    display: flex;
    flex-direction: column;
}

html {
    background-color: #f5f5f5;
}

.blogSubHeading {
    font-size: 18px;
}

.chipsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
